h1{
    color: goldenrod
}


.mainWrapper{
    margin:25px;
}

input[type=button] {
    width: 100%;
    background-color: goldenrod;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: gold;
}